<div class="container">
  <h1>Sobre esta web</h1>
  <p>
    Esta PWA forma parte de una práctica de la asignatura Desarrollo front-end
    avanzado del máster Desarrollo de sitios y aplicaciones web de la
    <a href="https://www.uoc.edu/">UOC</a>

    Para el desarrollo de este trabajo se han utilizado herramientas y librerías
    de terceros, así como imágenes prediseñadas, tal y como se detallan a
    continuación:
  </p>

  <h2>Herramientas de desarrollo</h2>
  <ul>
    <li>
      Desarrollo de la aplicación con <a href="https://angular.io">Angular</a>
    </li>
    <li>
      Maquetación con <a href="https://material.angular.io">Angular Material</a>
    </li>
    <li>Carrusel <a href="https://swiperjs.com">Swiper</a></li>
    <li>
      Consumo de datos mediante la API de
      <a href="https://www.themoviedb.org">The Movie DB</a>
    </li>
  </ul>

  <h2>Imágenes</h2>
  <ul>
    <li>
      Imagen del astronauta creada por
      <a href="https://www.freepik.es/catalyststuff">Catalyststuff</a> con
      licencia Freepik, gratis para uso personal
    </li>
  </ul>
</div>
