footer {
  background-color: #673ab7;
  color: #fff;
  padding: 12px;
  justify-content: center;
  font-size: 13px;
}

.footer-author {
  font-size: 17px;
}

.footer-author img {
  margin: 10px;
  height: 50px;
}

.footer-logos a {
  text-decoration: none;
  color: inherit;
}

.footer-logos img {
  height: 50px;
}

.tmdb-logo {
  height: 40px !important;
}

.footer-logos span {
  margin-left: 11px;
}
