<footer>
  <div fxLayout="column" fxFlex="100%" fxLayoutAlign="center center">
    <div fxLayoutAlign="center center" class="footer-author">
      <img src="../../../../assets/img/logo-app.png" alt="Movie UOC logo" />
      <span>Sara Esteban Miguel</span>
    </div>
    <div
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutGap="50px"
      fxLayoutGap.xs="11px"
      fxLayoutAlign="center center"
      class="footer-logos"
    >
      <a
        fxLayoutAlign="center center"
        href="https://angular.io"
        title="Developed in Angular"
      >
        <img
          src="../../../../assets/img/angular-white-transparent.svg"
          alt="Angular icon"
        />
        <span>Developed in Angular</span>
      </a>
      <a
        fxLayoutAlign="center center"
        href="https://www.themoviedb.org"
        title="Powered by TMDB API"
      >
        <img
          src="../../../../assets/img/tmdb-transparent.svg"
          alt="TMDB icon"
          class="tmdb-logo"
        />
        <span>Powered by TMDB API</span>
      </a>
      <a
        fxLayoutAlign="center center"
        href="https://www.freepik.es"
        title="Pictures from Freepik"
      >
        <img
          src="../../../../assets/img/freepik-logo-transparent.svg"
          alt="freepik icon"
        />
        <span>Pictures from Freepik</span>
      </a>
      <a
        fxLayoutAlign="center center"
        href="https://www.uoc.edu"
        title="Universitat Oberta de Catalunya"
      >
        <img
          src="../../../../assets/img/uoc-logo-transparent.svg"
          alt="UOC icon"
        />
        <span>Universitat Oberta de Catalunya</span>
      </a>
    </div>
  </div>
</footer>
